*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #E4C59E;
    padding: 10px;
}

.logo {
    float: left;
}

.user-links {
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.user-links a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
}

.search-bar {
    text-align: center;
    position: flex;
}

.search-bar input[type="text"] {
    width: 600px; /* Lebar input searchbar */
    padding: 10px; /* Padding di dalam input */
    border: 2px solid #E4C59E; /* Menambahkan border dengan warna #E4C59E */
    border-radius: 10px; /* Untuk membuat sudut input menjadi melengkung */
    outline: none; /* Menghilangkan outline saat input aktif */
}

.col1{
    text-align: center;
    padding: 20px;
    background-color: #E4C59E;
    opacity: 100%;
}

.col1 a{
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.col1 a:hover{
    background-color: #f0f0f0;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #E4C59E;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #333;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #E4C59E;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
    border-radius: 20px;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #803d3b;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}

.footer {
    background-color: #FFF8EF;
    color: #333;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    flex: 1;
}

.footer-left p{
    color: #9B9B9B;
}

.footer-logo img {
    width: 170px;
    display: block;
    margin-bottom: 10px;
}

.footer-center,
.footer-right {
    flex: 1;
}

.useful-links,
.idea-advice,
.payment-methods {
    align-self: flex-start;
    margin-top: 90px;
    margin-left: 50px;
}

.useful-links,
.idea-advice{
    display: inline-block;
    margin-right: 30px;

}

.useful-links a,
.idea-advice a {
    margin-top: 20px;
    color: #9B9B9B;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.payment-methods {
    margin-top: 90px;
}

.payment-methods img {
    width: 200px;
    margin-right: 10px;
}