body {
    margin: 0;
    font-family: Arial, sans-serif, "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FAFAF5;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: #FFF8EF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: normal;
    color: #333333;
}

p {
    margin: 0 0 20px;
    font-size: 14px;
    color: #666666;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #E4C59E;
    color: #333333;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #AF8260;
    color: #eeeeee;
}

.privacy-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.privacy-link:hover {
    text-decoration: underline;
}
